<div class="row-fluid">
  <div class="span10">
    <%= form_tag users_path, :method => 'get' do %>
        <p><%= t "user.search" %>
          <%= text_field_tag('search_users') %>
          <%= submit_tag t ("global.submit"), :name => nil %>
        </p>
    <% end %>
    <% if can? :manage, User %>
        <%= will_paginate @users %>
    <% end %>
    <table class="table table-bordered table-hover table table-condensed">

      <thead>
      <tr>
        <th><%= t "user.number" %></th>
        <th><%= sortable "name", (t "user.name") %></th>
        <th><%= (t "user.active_wo") %></th>
        <th><%= t "user.username" %></th>
        <th><%= t "global.phone" %></th>
        <th><%= t "global.mobile" %></th>
        <th align="center"><%= t "supplier.actions" %></th>
      </tr>
      </thead>
      <tbody>
      <% for user in @users do %>
          <tr class="<%= cycle :odd, :even %>">
            <td><%= link_to user.id, user %></td>
            <td>
              <% if user.active %>
                  <span class="label label-success"><%= user.name %></span>
                  <% else %>
                  <span class="label label-important"><%= user.name %></span>
              <% end %></td>
            <td><%= active_work_order_count(user.id).count %></td>
            <td><%= user.username %></td>
            <td><%= user.phone %></td>
            <td><%= user.mobile %></td>
            <td>
	      <% if can? :create, WorkOrder and user.client? %>
              	<a class="btn btn-small" href="<%= new_user_work_order_path(:user_id => user.id) %>"><i class="icon-plus"></i><%= t("navbar.new_work_order") %></a>
	      <% end %>

              <% if can? :create, Invoice %>
              	<a class="btn btn-small" href="<%= new_user_invoice_path(:user_id => user.id) %>"><i class="icon-plus"></i><%= t("navbar.new_invoice") if can? :create, Invoice %></a>
	      <% end %>

	      <% if can? :read, User %>
	      	<a class="btn btn-small" href="<%= new_user_building_path(:user_id => user.id) %>"><i class="icon-plus"></i><%= t("navbar.new_building") if can? :read, User %></a>
	      <% end %>

		<a class="btn btn-small" href="<%= user_buildings_path(:user_id => user.id) %>"><i class="icon-list-alt"></i><%= t("navbar.building_list") %></a>

	<% if can? :manage, User %>
		<a class="btn btn-small" href="<%= edit_user_path(:id => user.id) %>"><i class="icon-plus"></i><%= t("global.edit") %></a>
	<% end %>

      <% if can? :manage, User %>
        <%= link_to (t "global.delete"), user, :class => "btn btn-small", :confirm => 'Are you sure?', :method => :delete %>
      <% end %>

	   </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% if can? :manage, User %>
        <%= will_paginate @users %>
    <% end %>
  </div>

  <div class="span2">
    <%= menu_button t("workorder.t_add_new"), new_user_work_order_path(:user_id => current_user.id), "icon-pencil icon-white" if current_user.client %>
    <%= menu_button t("global.create"), new_user_path, "icon-pencil icon-white" if can? :create, User %>

  </div>
</div>
